#div{
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgba(255, 0, 0, 0.247);
    width: 500px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(187, 188, 208, 0.312), rgba(255, 192, 203, 0.477));
    border-radius: 10px;
    padding-bottom:20px ;
}
img{
    border: 3px solid black;

}

#p{

    font-family:cursive;
    font-size: x-large;
    font-style: italic;
    color: red;
}
p{
    font-family:cursive;
    font-size: x-large;
    text-align: center;
   

}